.accent-btn {
  display: inline-block;
  background-color: $accent;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 12px 40px;
  border-radius: 8px;
  box-sizing: border-box;
  transform: all .3s;
  max-width: 195px;
  height: 48px;
  &:hover{
    background-color: #fff;
    border: 1px solid $accent;
    color: $accent;
  }
}
